@import "tailwindcss";

@theme {
  /* Colores base para modo claro */
  --color-primary: #BC51C2;      /* Un azul */
  --color-secondary: #10b981;    /* Un verde */
  --color-accent: #f59e0b;       /* Un naranja */
  
  /* Puedes definir sombras o fuentes aquí también */
  --font-sans: "Inter", ui-sans-serif, system-ui;
}


/* 2. Personalización por capas (Opcional pero recomendado) */
@layer base {

  body {
    @apply bg-white text-gray-900 dark:bg-(--color-background) dark:text-(--color-foreground) transition-colors duration-300;
  }
}